@font-face {
    font-family: 'Koruri';
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot?#iefix') format('embedded-opentype');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff') format('woff'),
         url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.ttf') format('truetype');
    
    /*  for fuck'n chrome  */
    src: url(//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff) format('woff'); 
}
body {
	font-family: Koruri;
	background: rgba(228, 233, 237, 1);
}
footer{
	background: rgba(189, 195, 199, 1);
}
.f-content{
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}
.bg-dark{
	background:#3c3c3c;
	color: white;
}
.content{
	padding: 20px;
	background: rgba(238, 238, 238, 1);
	max-width: 1200px;
	margin: 0 auto;
}
.r{
	border:1px solid;
}
.space{
	height: 50px;
}
.h-200{
	height: 200px;
}
q{
	background: #ddd;
}
/*grid*/
.r{
	display: flex;
	margin: 0 auto;
	width: 100%;
}
.v960{
	max-width: 960px;
}
.col-1{
	width: 12.5%;
}
.col-2{
	width: 25%;
}
.col-3{
	width: 37.5%;
}
.col-4{
	width: 50%;
}
.col-5{
	width: 62.5%;
}
.col-6{
	width: 75%;
}
.col-7{
	width: 87.5%;
}
.col-8{
	width: 100%;
}
@media screen and ( max-width: 1024px ){
	[class*="col-"] {
		width: 100%;
	}
	.r{
    flex-wrap: wrap;
	}
	.col-m-1{
		width: 12.5%;
	}
	.col-m-2{
		width: 25%;
	}
	.col-m-3{
		width: 37.5%;
	}
	.col-m-4{
		width: 50%;
	}
	.col-m-5{
	width: 62.5%;
	}
	.col-m-6{
		width: 75%;
	}
	.col-m-7{
		width: 87.5%;
	}
	.col-m-8{
		width: 100%;
	}
}
@media screen and ( max-width: 600px ){
	[class*="col-m-"] {
		width: 100%;
	}
	.col-s-1{
		width: 12.5%;
	}
	.col-s-2{
		width: 25%;
	}
	.col-s-3{
		width: 37.5%;
	}
	.col-s-4{
		width: 50%;
	}
	.col-s-5{
	width: 62.5%;
	}
	.col-s-6{
		width: 75%;
	}
	.col-s-7{
		width: 87.5%;
	}
	.col-s-8{
		width: 100%;
	}
}
